.univers-lt-std {
    font-family: 'Univers LT Std 57 Condensed', sans-serif;
    font-weight: normal;
    font-size: 0.7500em;
//     color: red !important;
}

.avoid-page-break-inside {
    page-break-inside: avoid;
}

.justify-text {
    text-align: justify;
    text-justify: inter-word;
}

.approvals {
            display: flex;
            justify-content: space-between;
            margin-top: 1.300em;
            width:100%

        }

.approval {
            text-align: left;
            flex: 1;
            margin-right: 3.125em;
        }


