.univers-lt-std {
    font-family: 'Univers LT Std 57 Condensed', sans-serif;
    font-weight: normal;
    font-size: 1em;
}

.avoid-page-break-inside {
    page-break-inside: avoid;
}

.justify-text {
    text-align: justify;
    text-justify: inter-word;
}
